


body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

#stats{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.game-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  cursor: none;
}

#soundbutton {
  text-decoration: underline;
  cursor: pointer;
}

#desktop-control{
  display: none;
}

#mobile-control{
  display: none;
}

#webgl-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#canvas {
   position: absolute;
   left: 0;
   top: 0;
}

.splash-holder{
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0%;
  top: 25%;

}

.ruletitle {
  font-size: 12px;
  color:#AAAAAA;
}

.rules {

  color:#AAAAAA;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  letter-spacing: 1px;
  font-weight: normal;
}

.rules li {
  margin-top: 10px;
}


#download{

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 20;

}

.splash {

  position: relative;
  margin: auto;
  width: 90%;
  z-index: 100;
  
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;  
  color: white;
  padding: 10px;
  cursor: pointer;
}

.splash .title{
  font-size: 3.0rem;
}

.splash .subtitle{
  font-size: 1.2rem;
  
}

.splash .controls{
  font-size: 1.0rem;
  margin-top: 30px;
}



.splash input {
  text-align: center;
  width: 140px;
}

.splash button {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
  width: 90px;
  height: 30px;
  border-radius: 10px 10px 10px 10px;
}

.signin {
  width: 220px; 
  height: 24px;
}

.player-name {
  position: absolute;
  color: #999999;
  top: 200px;
  left: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.7em;
}

.debug {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 1px;
  text-align: right;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  display: none;
}

.error {
  display: none;
}

.error-text {
  font-size: 10px;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  width:15px;
  height:15px;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  bottom: 10px;
  left: 10px;
  background-color: #111;
  border: 1px solid #AAA;
  font-size: 0.8rem;
  padding: 4px;
  cursor: default;
  text-align: center;
  color: white;
  border-radius: 15px;
  font-weight: 100;
  background-image: url("./assets/gear.png");
  background-position: center center;
  background-size: 66% 66%;
  background-repeat: no-repeat;
  cursor: pointer;


}

.moreio{
  margin-top: 30px;
  color: white;
  border: 1px solid #AAA;
  display: inline-block;
  padding: 5px;
  background-color: #111;
}

.moreio a:visited{
  color: white;
}

.moreio a{
  text-decoration: none;
}

.lonely{
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  display: none;
}

.lonely a{
  border: 1px solid #CCC;
  background: #EEE;
  color: black;
  text-decoration: none;
  padding: 2px 5px 2px 5px;
  margin-left: 5px; 
  font-size: 70%;
  text-transform: uppercase;

}

.lonely a:hover{
  background-color: white;
}

.footer a{
  color: white;
  margin-right: 5px;
  font-weight: 100;
}

.footer .content{
  display: none;
}

.footer.open{
  width: initial;
  background-color: #111;
  background-image: none;
  border: 1px solid #AAA;
  cursor: inherit;
}

.footer.open .content{
  display: block;
}


.leader-board {
  position: absolute;
  top: 0px;
  right: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  padding: 10px;
  color: white;

}

.leader-board table {
  text-align: center;
}

.header {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5em;
  line-height: 1;
  margin: 0;
  letter-spacing: -0.025em;
  color: #d1b790;
}

.header h1 span {
  font-size: 0.2em;
  font-style: italic;
  display: block;
  margin: 0 0 -1.5em -7em;
  letter-spacing: 0px;
}

.header h2 {
  font-size: 0.585em;
  margin: 0.25em 0;
  white-space: nowrap;
  text-indent: 1em;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #d6483b;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



